.button {
    background-color: #8f76b6;
    border: 1px #f8e72c;
    border-width: 2px;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    text-shadow:none !important;
    display: inline-block;
    font-family: "Lobster", serif;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.opacity_text {
	opacity: 0.8;
	font-family: "Lobster", serif;
	font-size: 30px;
	border: 0;
}

.opacity_text_bottom {
	opacity: 0.4;
	font-family: "Lobster", serif;
	font-size: 25px;
	border: 0;	
}
/*.carousel-caption {
    top: 0;
    bottom: auto;
}*/

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:5%;
  bottom: auto;
  left:0;
  width:100%;
  text-align:right;
  padding-right: 2cm;
  padding-top: 1cm;
}
.overlay-bottom { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:auto;
  bottom: -40%;
  left:0;
  width:100%;
  text-align:center;
}

.transparent-div {
	opacity: 50%;
}
.button-music {
    background-color: #8f76b6;
    border: 1px #f8e72c;
    border-width: 2px;
    color: white;
    padding: 8px 13px;
    text-align: right;
    text-decoration: none;
    text-shadow:none !important;
    display: inline-block;
    font-family: "Lobster", serif;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    opacity: 0.9;

}
.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overlay-bottom-right {
  color:#fff;
  position:absolute;
  z-index:12;
  top:auto;
  bottom: 5%;
  left:0;
  width:100%;
  text-align:right;
  padding-right: 2cm;
  position: fixed;
}

.small-text {
top:auto;
left:-25%;
font-size: 8px;
position:absolute;
z-index:12;
opacity: 0.08;

}	

.small-text-our {
top:auto;
font-size: 12 px;
z-index:12;
opacity: 0.3;
text-align: center;
}	

.awesome_style {
  opacity: 1;
  font-family: "Lobster", serif;
  font-size: 40px;
  border: 0;
  padding-bottom: 80px;  
}

.social {
  background-color: #8f76b6;
    border: 1px #f8e72c;
    border-width: 2px;
    color: white;
    border-radius: 25px;
    text-align: center;
    padding: 8px 13px;
    text-decoration: none;
    text-shadow:none !important;
    display: inline-block;
    font-family: "Lobster", serif;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.99 !important;
} 